* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  overflow: hidden;
  background: #313740;
  color: #fff;
}

body {
  height: 100%;
}

a {
  color: inherit;
}

form {
  display: grid;
  grid-template-columns: 18rem 1fr 1fr;
  grid-template-rows: 1fr 3rem;
  height: 100%;
}

.sidebar {
  grid-row: 1 / span 2;
  padding: 1.5rem;
}

.sidebar header {
  margin-bottom: 3rem;
}

.sidebar h1 {
  margin-bottom: 1rem;
}

.sidebar h1 small {
  font-size: 0.5em;
}

.sidebar header p {
  font-size: 1.2em;
  font-family: monospace;
  margin-bottom: 1.5rem;
}

.sidebar header nav a {
  font-size: 0.9em;
  text-decoration: none;
  color: #f0c674;
}

.sidebar label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.sidebar li {
  list-style: none;
  margin-bottom: 0.5rem;
  background: rgba(255, 255, 255, 0.25);
  padding: 0.2em 0.5em;
  cursor: pointer;
  border-radius: 0.25rem;
}

input,
textarea {
  font: inherit;
  padding: 0.5rem;
  border: 0;
  border-bottom: 1px solid #ddd;
  font-family: monospace;
  font-size: 1.25rem;
  line-height: 1.5em;
}

textarea {
  resize: none;
  opacity: 0;
}

.CodeMirror {
  padding: 0;
  font-size: 1.25rem;
  line-height: 1.5em;
  height: 100% !important;
}

input[type="submit"] {
  background: #f0c674;
  border-bottom: 0;
  line-height: 1;
  padding: 1rem;
  grid-column: span 2;
  cursor: pointer;
}
input:focus {
  outline: 0;
}

.CodeMirror:last-of-type {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
