html {
  overflow: hidden;
  background: #0f111a;
  color: var(--color-white);
}

body {
  height: 100%;
  font-family: var(--font-mono);
}

form {
  display: grid;
  grid-template-columns: 18rem 1fr 1fr;
  height: 100%;
}

.sidebar .version {
  color: var(--color-green-400);
}

.sidebar .samples {
  gap: 0.25rem;
}

.sidebar .link {
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.sidebar .links {
  display: grid;
  gap: .25rem;
}
.sidebar .links a {
  position: relative;
  padding-left: 1rem;
}
.sidebar .links a:before {
  position: absolute;
  left: 0;
  content: "→";
}

.sidebar button {
  width: 100%;
  text-align: left;
  border-radius: var(--rounded);
  background: rgba(255, 255, 255, 0.0625);
  padding: 0.75rem 1rem;
  line-height: 1;
  color: var(--color-purple-400);
}

.sidebar button[type="submit"] {
  color: #000;
  text-align: center;
  font-weight: var(--font-bold);
  background: var(--color-purple-500);
  box-shadow: var(--shadow-xl);
}

.CodeMirror {
  padding: 0;
  font-size: var(--text-sm);
  line-height: 1.75em;
  height: 100% !important;
}

.CodeMirror {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
